.Menu {
  background-color: rgb(58, 65, 59);
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;


}


#menu-links {
  display: flex;
  padding-left: 1em;
  position: relative;
  padding: 20px;
  margin: 0px;
  
}

#menu-links a {
  padding-right: 2.5em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}