.Menu {
  background-color: rgb(58, 65, 59);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
}

#menu-links {
  display: flex;
  padding-left: 1em;
  position: relative;
  padding: 20px;
  margin: 0px;
}

#menu-links a {
  padding-right: 2.5em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

#menu {
  width: 220px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 3%;
  /* border-style: solid;
	border-color: rgb(185, 184, 184);
  border-width: 0px 2px 0px 0px; */
}

#menu-links {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

#menu-links a {
  font-size: 1.3em;
  font-weight: 700;
  padding-right: 0.5em;
  color: rgb(141, 140, 140);
  text-decoration: none;
  cursor: pointer;
}

#menu-links a:hover {
  color: black;
}

.link {
  margin: 15px 0px 15px 0px;
}

#smallIcon {
  height: 24px;
  width: 24px;
  margin-right: 15px;
  color: rgb(141, 140, 140);
}


#menu-links .link a.current {
  color: rgb(47, 125, 199);
}

.logo {
  display: flex;
  color: rgb(47, 125, 199);
}