.ListOfUsers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    align-self: center;
}