.RegistrationForm{
  display: flex;
  align-content: center;
  justify-content: center;
  
}
#registration-form {
  display: flex;
  flex-direction: column;

 width: 300px;
  height: 150px;
 
}.buttons {
  display: inline;
}