#login-form {
  display: flex;
  flex-direction: column;

  width: 300px;
 
}

.LoginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}

.loginButton {
  margin: 30px;
}